.todo-app {
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px #00000033;
  border-radius: 2px;
  max-width: 700px;
  min-height: 300px;
  margin: 0 auto 2rem;
  padding: 2rem 1.5rem;

  @media screen and (max-width: 780px) {
    width: 90%;
    padding: 1rem;
  }
}

.header {
  border-bottom: 1px solid rgba(52, 62, 76, 0.11);
  margin-bottom: 0.5rem;

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    position: relative;
  }

  h2 {
    color: #22d105;
    padding-left: 0.3rem;
    font-size: 1.8rem;

    @media screen and (max-width: 780px) {

    }
  }

  h3 {
    padding: 1.3rem 0.5rem 0.5rem;
  }

  .popper-btn {
    display: flex;
    color: #454b52;
    padding: 0.2rem;
    background-color: rgba(9, 30, 66, 0.05);
    border-radius: 3px;

    &:hover {
      background-color: rgba(52, 62, 76, 0.11);
    }
  }

  .popper {
    position: absolute;
    top: 34px;
    right: 0;
    background: #fff;
    z-index: 50;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  .popper-top {
    border-bottom: 1px solid rgba(52, 62, 76, 0.11);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;

    button {
      position: absolute;
      top: 6px;
      right: 4px;
      padding: 0.35rem;
    }
  }

  .popper-section {
    padding: 0.5rem 0.3rem;
  }

  .new-task {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;

    &:hover {
      border-color: #333d4b4f;
    }

    &:enabled:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.03rem #22d105;
      border-color: #22d105;
    }
  }
}

.no-tasks {
  text-align: center;
  color: #cbcbce;
  padding: 5rem 0;
}

.task {
  display: flex;
  align-items: flex-start;
  border-radius: 3px;
  padding: 0.5rem;

  .title {
    margin-left: 1rem;
    flex: 1;
    align-self: center;
  }

  &:hover {
    background-color: rgba(9, 30, 66, 0.04);

    .actions {
      opacity: 1;
    }
  }
}

.checkbox {
  input {
    display: none;
  }

  label {
    display: block;
    background: #fafbfc;
    border: 2px solid #333d4b4f;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
      border-color: #333d4b88;
      background: #fff;
    }
  }

  input + label > img {
    opacity: 0;
  }

  input:checked + label > img {
    opacity: 1;
  }
}

.actions {
  display: inline-flex;
  opacity: 0;

  button {
    opacity: 0.3;
    margin-left: 0.3rem;
    width: 24px;
    height: 24px;
    border-radius: 3px;

    &:hover {
      opacity: 1;
      background-color: rgba(52, 62, 76, 0.1);
    }

    img {
      width: 24px;
      height: 24px;
      padding: 2px;
    }
  }

  @media screen and (max-width: 780px) {
    & {
      opacity: 1;

      button {
        opacity: 0.5;
        background-color: rgba(52, 62, 76, 0.11);
      }
    }
  }
}

.completed {
  text-decoration: line-through;
  color: #d6d6d6;
}
